.content li {
  border-bottom: 1px solid #eee
}

.profile #avatar {
  width: 80px;
}

ul#social li {
  display: inline;
}

ul#social i {
  font-size: 2vw;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  color: #aaa;
  font-size: 3.0rem;
}

li {
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  ul#social i {
    font-size: 5vw;
  }

  .profile #avatar {
    width: 100px;
  }
}
