html {
  background-image: url('/static/images/background.jpg');
  background-size: cover;
}

.content {
  text-align: center;
  color: #FFFFFA;
}

a {
  color: #9dd89f;
}

.profile #avatar {
  width: 120px;
}

ul#social li {
  display: inline;
}

svg path {
  fill: #FFFFFA;
}

svg:hover path {
  fill: #9dd89f;
}

@media only screen and (min-device-width: 501px) {
  svg {
    width: 64px;
    height: 64px;
  }

  .content {
    margin-top: 100px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .content {
    width: 100%!important;
    margin-top: 300px;
  }

  svg {
    width: 128px;
    height: 128px;
  }

  .content #avatar {
    width: 250px;
  }
}
