.dates {
 color: gray;
 size: 1.2em;
}

.post-link {
  text-decoration: none;
}

.post-link h2 {
  margin-bottom: 0.5em;
}

.posts li {
  border-bottom: 1px solid #eee;
  list-style: none;
}

.profile #avatar {
  width: 120px;
}

ul#social li {
  display: inline;
}

ul#social i {
  font-size: 40px;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  color: #aaa;
}

@media only screen and (min-device-width: 501px) {
  h2 {
    font-size: 3.0rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .profile {
    width: 100%!important;
    text-align: center;
  }

  h6 {
    font-size: 2.5rem;
  }

  ul#social i {
    font-size: 5vw;
  }

  .profile #avatar {
    width: 150px;
  }
}
