html {
  background-image: url('/static/images/background.jpg');
  background-size: cover;
}

.content {
  text-align: center;
  color: #FFFFFA;
}

a {
  color: #9dd89f;
}

.profile #avatar {
  width: 120px;
}

.banner {
  width: 100%;
}

ul#social li {
  display: inline;
}

svg {
  width: 64px;
  height: 64px;
}

svg path {
  fill: #FFFFFA;
}

svg:hover path {
  fill: #9dd89f;
}

h1 {
  font-size: 4.0rem;
}

@media only screen and (min-device-width: 501px) {
  h2 {
    font-size: 3.0rem;
  }

  .content {
    margin-top: 100px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .content {
    width: 100%!important;
    margin-top: 50px;
  }

  .content #avatar {
    width: 150px;
  }

  h6 {
    font-size: 2.5rem;
  }

}
