.dates {
 color: gray;
 size: 1.2em;
}

.post-link {
  text-decoration: none;
}

.post-link h2 {
  margin-bottom: 0.5em;
}

.content li {
  border-bottom: 1px solid #eee
}

.profile #avatar {
  width: 120px;
}

ul#social li {
  display: inline;
}

ul#social i {
  font-size: 40px;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  color: #aaa;
  font-size: 3.0rem;
}

li {
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  ul#social i {
    font-size: 5vw;
  }

  .profile #avatar {
    width: 100px;
  }
}
