---
layout: default
---
<div class="container">
  <div class="row">
    <div class="profile three columns">
      <a href="/"><img id="avatar" src="/static/images/phili.png" alt="avatar"/></a>
      <ul id="social">
        <li>
          <a href="https://ca.linkedin.com/in/philibertdugas" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://github.com/PhilibertDugas" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/DugasPhilibert" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul>
      <h2>Philibert Dugas</h2>
      <h5>Developer @Shopify, software enthusiast</h5>
    </div>
    <div class="nine columns content">
      {{ content }}
    </div>
  </div>
</div>
