---
layout: default
---
<div class="container">
  <div class="row">
    <div class="profile three columns">
      <img id="avatar" src="/static/images/phili.png" alt="avatar"/>
      <ul id="social">
        <li>
          <a href="https://ca.linkedin.com/in/philibertdugas" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://github.com/PhilibertDugas" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
      </ul>
      <h1>Philibert Dugas</h1>
      <h2>Developer @Shopify, software enthousiast</h2>
    </div>
    <div class="nine columns">
      {{ content }}
    </div>
  </div>
</div>
